.login-wrapper {
  width: 40%;
  height: calc(100vh - 135px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-name-input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.user-name-input-wrapper > span {
  color: #8f777f;
}

/* Tablets */
@media screen and (max-width: 768px) {
  .login-wrapper {
    width: 50%;
  }
}

/* Large size mobile device */
@media screen and (max-width: 425px) {
  .login-wrapper {
    width: 80%;
  }
}

/* Small size mobile device */
@media screen and (max-width: 320px) {
  .login-wrapper {
    width: 90%;
  }
}
