.quiz-section-wrapper {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-top: 15px;
}

.add-new-quiz {
  align-self: flex-end;
}

.create-quiz-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  overflow: auto;
  margin-bottom: 50px;
}

.quiz-create-wrapper {
  background: aliceblue;
  width: inherit;
  max-width: 100%;
}

.quiz-editor-wrapper {
  display: flex;
}
.quiz-editor-wrapper > .quill {
  max-width: 400px;
  height: fit-content;
  margin: 20px;
}

.submit-button-wrapper {
  display: flex;
  justify-content: flex-end;
  margin: 10px;
}
.add-answers-wrapper {
  padding: 10px 10px 0 10px;
}

.single-answer-wrapper {
  display: flex;
  margin-bottom: 10px;
  margin-left: 10px;
}
.single-answer-wrapper > label {
  margin-top: 20px;
}

textarea.text-area-answer {
  width: 100%;
  margin-top: 25px;
}

.quiz-list-wrapper {
  display: flex;
  flex-direction: column;
}

.quiz-list-wrapper > .card-topic-item {
  display: block !important;
  padding: 0 !important;
}

.quiz-list-wrapper > .card-topic-item > .topic-card-content {
  padding: 0 0 0 20px !important;
}

.quiz-list-wrapper > .card-topic-item > .topic-action-buttons {
  padding: 0 !important;
  justify-content: flex-end;
}

.collapsed-answers-quiz > .MuiCardContent-root {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-left: 20px;
}

@media screen and (max-width: 768px) {
  .quiz-section-wrapper {
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .quiz-editor-wrapper {
    flex-direction: column;
  }
}
