.MuiButtonBase-root.MuiButton-root.MuiButton-contained.MuiButton-containedSecondary {
  height: 35px;
  margin-top: 10px;
}

.add-topic-wrapper {
  display: flex;
  height: 45px;
  grid-gap: 10px;
  gap: 10px;
  width: -moz-fit-content;
  width: 100%;
}
.topics-wrapper {
  display: flex;
  width: 39%;
  height: calc(100vh - 115px);
  flex-direction: column;
  align-items: center;
  padding: 20px 0 0 20px;
}

.topics-list-wrapper {
  width: 100%;
  position: relative;
  overflow: auto;
  margin-top: 20px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  overflow: auto;
  box-shadow: -10px 10px 0px 2px #feb895;
  min-height: 0px;
  max-height: calc(100vh - 215px);
  height: fit-content;
}

.topic-card-content {
  flex: 1 1 auto;
}

.card-topic-item {
  display: flex;
  height: 50px;
  margin: 5px;
}

.topic-action-buttons {
  display: flex;
  padding: 8px;
  align-items: center;
}
.MuiFormControl-root.MuiTextField-root {
  width: 100%;
}
.MuiCard-root {
  overflow: visible !important;
}
.edit-text-field {
  width: 300px;
}

.card-topic-item {
  height: fit-content;
}

@media screen and (max-width: 768px) {
  .topics-wrapper {
    width: 90%;
  }
}
