.publish-component-wrapper {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: calc(100vh - 100px);
}

.answers-list-wrapper {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
  align-items: stretch;
}

.single-answer {
  height: 40px;
  border: 1px solid rebeccapurple;
  padding-top: 10px;
  box-sizing: border-box;
  padding-left: 20px;
  cursor: pointer;
}

.question > * {
  display: inline-block;
}

.selected-answer {
  background: #fed7a8;
}

.submit-answer-button {
  position: fixed;
  bottom: 0;
  text-align: right;
  width: 40%;
  margin: 10px;
}

.question-answer-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90%;
  overflow: auto;
}

.published-result {
  width: 500px;
  height: 211px;
  background: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .publish-component-wrapper {
    width: 80%;
  }
}
