header {
  background: #ff9761ab;
  width: 40%;
  text-align: center;
  height: 70px;
  box-shadow: 6px 6px 0px 1px #f64757;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 11px;
}

.display-none {
  display: none;
}

.display-block {
  display: block;
}

@media screen and (max-width: 768px) {
  header {
    width: 90%;
  }
}
